.blur-bg {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
a.active {
  background-color: blueviolet;
  color: white;
  border-radius: 25px;
}
